body {
background-color:black;
}

header {
  display:flex;
  justify-content:space-between;
  align-items: center;
  height:69px;
  width:100%;
  border-bottom: 1px solid seashell;
  padding-bottom:8px;
}

.logo span {
  font-size:50px;
  color:seashell;
  opacity:0.9;
  padding-left: 10px;
  font-family:cursive;
}


h1, h2, h3, h4, h5, h6, p, a, span {
  font-family:Helvetica;
  color:seashell;
  background-color:black;
  opacity:0.9;
}

p, a, span {
  font-size:22px;
}

h2, h4 {
  width:100%;
  text-align:center;
  margin:0px 0px;
  padding:10px 0px;
}

.product img {
  width:300px;
  height:200px;
}

.product {
  width:300px;
  height:250px;
  padding: 30px 15px;
}

#teamonth {
  display:flex;
  flex-flow:column nowrap;
  justify-content:center;
  align-items:center;
  padding-top:30px;
}

#products {
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  align-items:center;
  align-content:center;
  width:1000px;
  margin:auto;
}

#locationparent {
  display:flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items:space-around;
  width:1200px;
  height:500px;
  background-image: url("./pictures/img-locations-background.jpg");
  margin:auto;
}

#locationheaddiv {
  width:980px;
}

#locationhead {
  text-align:center;
  background-color:transparent;
}

#locationdivs {
  display:flex;
  flex-flow:row wrap;
  align-items:center;
  justify-content:center;
  opacity:1;
}

.locations {
  display:flex;
  flex-flow: column wrap;
  justify-content:center;
  align-items:center;
  height:300px;
  width:300px;
  margin:20px;
  background-color:black;
}

#firstpicture {
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  align-content:center;
  background-image: url("./pictures/img-mission-background.jpg");
  height:700px;
  width:1200px;
}

#prefooter {
  height:200px;
  text-align:center;
}

#sitecontent {
  max-width: 1200px;
  margin: 0px auto;
}
